.cs {
  @include responsive {
    display: flex;
    justify-content: center;
    // align-items: center;
  }
  .inner-cs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    width: 100%;
    max-width: 1440px;
    height: 15vh;
    padding-left: 10%;
    background: url("../../assets/img/main/bg_home_bottom.png") no-repeat;
    background-size: cover;
    h2 {
      margin-bottom: 16px;
      color: #fff;
      font-size: 1rem;
      @include responsive {
        font-size: 2rem;
      }
    }
    p {
      margin-bottom: 30px;
      color: #fff;
      font-size: 0.8rem;
      @include responsive {
        margin-bottom: 0;
        font-size: 1.1rem;
      }
    }
    .cs-call {
      @include responsive {
        position: absolute;
        top: 50%;
        right: 10%;
        transform: translateY(-50%);
      }
      img {
        width: 24px;
      }
      strong {
        color: #fff;
        font-size: 2rem;
      }
    }
  }
}
