header {
  width: 100%;
  height: 56px;
  overflow: hidden;
  z-index: $header-lv;
  @include responsive {
    position: fixed;
    top: 0;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    overflow: visible;
  }
  .inner-header {
    width: 100%;
    max-width: 1144px;

    @include responsive {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 20px;
      background-color: #fff;
    }
    .logo {
      height: 56px;
      display: flex;
      justify-content: center;
      align-items: center;
      @include responsive {
        position: absolute;
        top: 50%;
        left: 0;
        height: 120px;
        margin: 0 20px;
        transform: translateY(-50%);
      }
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 44px;
          @include responsive {
            width: 83px;
          }
        }
      }
    }
    nav {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: $background;
      overflow-y: auto;
      transform: translateX(-100%);
      transition: 0.5s;
      z-index: $gnb-lv;
      @include responsive {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 70%;
        height: 50px;
        display: flex;
        justify-content: space-around;
        background-color: #fff;
        transform: translate(-50%, -50%);
        overflow-y: visible;
      }
      &.active {
        transform: translateX(0);
      }

      .menu {
        padding-left: 20px;
        padding-top: 56px;
        @include responsive {
          display: flex;
          padding: 0;
          width: 100%;
          &:hover .submenu {
            display: block;
            visibility: visible;
            opacity: 1;
          }
        }
        &-item {
          border-bottom: 1px solid $border;
          @include responsive {
            width: 25%;
            border: none;
          }
          .title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 62px;
            font-size: 1.4rem;
            font-weight: 700;
            @include responsive {
              justify-content: start;
              cursor: pointer;
            }
            .arrow {
              display: flex;
              align-items: center;
              margin-right: 20px;
              @include responsive {
                margin-left: 12px;
              }
              img {
                height: 12px;
                @include responsive {
                  height: 4px;
                }
              }
            }
          }

          .submenu {
            display: none;
            padding-left: 20px;
            padding-bottom: 15px;
            &.active {
              display: block;
            }
            @include responsive {
              display: block;
              height: 300px;
              padding-top: 22px;
              padding-left: 0;
              transition: 0.5s;
              visibility: hidden;
              opacity: 0;
            }
            &-item {
              margin-bottom: 8px;
              font-size: 1.2rem;
              @include responsive {
                font-size: 1rem;
                transition: 0.3s;
                &:hover {
                  color: $red;
                }
              }
            }
          }
        }
      }
      .nav-close {
        display: flex;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 56px;
        background-color: #fff;
        border-bottom: 1px solid $border;
        img {
          width: 20px;
          margin-left: 20px;
        }
      }
    }

    .delivery {
      position: absolute;
      top: 50%;
      right: 20px;
      padding: 5px 10px;
      background-color: $red;
      border-radius: 30px;
      font-size: 0.7rem;
      color: #fff;
      transform: translateY(-50%);
      @include responsive {
        transform: translateY(-43%);
        right: 0;
        font-size: 1.2rem;
        transition: 0.5s;
        &:hover {
          opacity: 0.5;
        }
      }
      a {
        strong {
          display: block;
          transform: translateY(2px);
        }
      }
    }
    .nav-open {
      position: absolute;
      top: 20px;
      left: 20px;
      img {
        width: 22px;
      }
    }
  }
  .menu-area {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 1px;
    background-color: #fff;
    box-shadow: 0 2px 2px rgba(black, 0.1);
    &.active::after {
      visibility: visible;
      opacity: 1;
    }
    &::after {
      content: "";
      position: absolute;
      top: 100%;
      width: 100%;
      height: 322px;
      background-color: white;
      box-shadow: 0 2px 2px rgba(black, 0.1);
      transition: 0.3s;
      opacity: 0;
      visibility: hidden;
    }
  }
}
