.introduce {
  display: flex;
  flex-direction: column;
  align-items: center;
  .new-item {
    width: 100%;
    @include responsive {
      max-width: 1440px;
    }
    iframe {
      display: block;
      width: 100%;
      height: 60vh;
    }
  }
  .sns {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 50px 0px;
    background-color: $sns-section;
    @include responsive {
      max-width: 1440px;
      justify-content: center;
    }
    &-item {
      margin: 0 3%;
      @include responsive {
        margin: 0 5%;
      }
      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        .img {
          img {
            width: 45px;
          }
        }
        .sns-desc {
          display: flex;
          flex-direction: column;
          align-items: center;
          .sns-name {
            margin-bottom: 10px;
            color: #fff;
            font-size: 0.8rem;
          }
          .sns-detail {
            display: flex;
            align-items: center;
            padding: 4px;
            background-color: #fff;
            border-radius: 4px;
            img {
              width: 13px;
              margin-right: 4px;
            }
            .count {
              font-size: 0.7rem;
            }
          }
        }
      }
    }
  }
}
