.introduce {
  background-color: $sns-section;
  .new-item {
    width: 100%;
    iframe {
      width: 100%;
      height: 60vh;
    }
  }
  .sns {
    display: flex;
    justify-content: space-around;
    padding: 50px 0px;
    &-item {
      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        .img {
          img {
            width: 45px;
          }
        }
        .sns-desc {
          display: flex;
          flex-direction: column;
          align-items: center;
          .sns-name {
            margin-bottom: 10px;
            color: #fff;
            font-size: 0.8rem;
          }
          .sns-detail {
            display: flex;
            align-items: center;
            padding: 4px;
            background-color: #fff;
            border-radius: 4px;
            img {
              width: 13px;
              margin-right: 4px;
            }
            .count {
              font-size: 0.8rem;
            }
          }
        }
      }
    }
  }
}
