$red: #e22219;
$background: #f8f8f8;
$black: #2e2e2e;
$gray: #eeeeee;
$border: #ebebeb;
$sns-section: #683a2f;
$app-guide: #c7a186;
$del-guide: #b08972;
$footer-title: #f5ebdc;
$footer-text: #bba391;
