* {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box; }

html {
  font-family: "Noto Sans KR", sans-serif; }

body {
  font-family: "Noto Sans KR", sans-serif; }

h1 {
  margin: 0; }

a {
  color: inherit;
  text-decoration: none; }

button,
input,
select,
textarea {
  border: none;
  background-color: transparent; }
  button:focus,
  input:focus,
  select:focus,
  textarea:focus {
    outline: none;
    box-shadow: none; }

a,
button {
  cursor: pointer; }

button {
  padding: 0; }

ul,
ol {
  list-style: none;
  padding-left: 0; }

address {
  font-style: normal; }

@media screen and (min-width: 1024px) {
  .sm-only {
    display: none !important; } }

@media screen and (max-width: 1023px) {
  .lg-only {
    display: none !important; } }

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important; }

header {
  position: relative;
  width: 100%;
  height: 56px;
  overflow: hidden;
  z-index: 20; }
  @media screen and (min-width: 1024px) {
    header {
      height: 120px; } }
  header .inner-header .logo {
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center; }
    header .inner-header .logo a {
      display: flex;
      justify-content: center;
      align-items: center; }
      header .inner-header .logo a img {
        width: 44px; }
  header .inner-header .delivery {
    position: absolute;
    top: 50%;
    right: 20px;
    padding: 5px 10px;
    background-color: #e22219;
    border-radius: 30px;
    font-size: 0.7rem;
    color: #fff;
    transform: translateY(-50%); }
  header .inner-header .nav-open {
    position: absolute;
    top: 20px;
    left: 20px; }
    header .inner-header .nav-open img {
      width: 22px; }

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #f8f8f8;
  overflow-y: auto;
  transform: translateX(-100%);
  transition: 0.5s;
  z-index: 30; }
  nav.active {
    transform: translateX(0); }
  nav .nav-close {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 56px;
    background-color: #fff;
    border-bottom: 1px solid #ebebeb; }
    nav .nav-close img {
      width: 20px;
      margin-left: 20px; }
  nav .menu {
    padding-left: 20px;
    padding-top: 56px; }
    nav .menu-item {
      border-bottom: 1px solid #ebebeb; }
      nav .menu-item .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 62px;
        font-size: 1.4rem;
        font-weight: 700; }
        nav .menu-item .title .arrow {
          margin-right: 20px; }
          nav .menu-item .title .arrow img {
            height: 12px; }
      nav .menu-item .submenu {
        display: none;
        padding-left: 20px;
        padding-bottom: 15px; }
        nav .menu-item .submenu.active {
          display: block; }
        nav .menu-item .submenu-item {
          margin-bottom: 8px;
          font-size: 1.2rem; }

.slide {
  position: relative;
  width: 100vw;
  overflow: hidden; }
  .slide .slide-sm .item a img {
    display: block;
    width: 100%; }
  .slide .slide-ctrl button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
    .slide .slide-ctrl button img {
      width: 15px; }
  .slide .slide-ctrl .prev {
    left: 10px; }
  .slide .slide-ctrl .next {
    right: 10px; }
  .slide .slide-nav {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%); }
    .slide .slide-nav button {
      width: 12px;
      height: 12px;
      margin: 0 4px;
      background-color: #f8f8f8;
      border-radius: 50%; }
      .slide .slide-nav button.tns-nav-active {
        background-color: #e22219; }
  .slide button[data-action="stop"],
  .slide button[data-action="start"] {
    display: none; }

.introduce {
  background-color: #683a2f; }
  .introduce .new-item {
    width: 100%; }
    .introduce .new-item iframe {
      width: 100%;
      height: 60vh; }
  .introduce .sns {
    display: flex;
    justify-content: space-around;
    padding: 50px 0px; }
    .introduce .sns-item a {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .introduce .sns-item a .img img {
        width: 45px; }
      .introduce .sns-item a .sns-desc {
        display: flex;
        flex-direction: column;
        align-items: center; }
        .introduce .sns-item a .sns-desc .sns-name {
          margin-bottom: 10px;
          color: #fff;
          font-size: 0.8rem; }
        .introduce .sns-item a .sns-desc .sns-detail {
          display: flex;
          align-items: center;
          padding: 4px;
          background-color: #fff;
          border-radius: 4px; }
          .introduce .sns-item a .sns-desc .sns-detail img {
            width: 13px;
            margin-right: 4px; }
          .introduce .sns-item a .sns-desc .sns-detail .count {
            font-size: 0.8rem; }

.guide {
  display: flex; }
  .guide .app {
    width: 50%;
    background-color: #c7a186; }
    .guide .app a img {
      display: block;
      width: 100%; }
  .guide .delivery {
    width: 50%;
    background-color: #b08972; }
    .guide .delivery a img {
      display: block;
      width: 100%; }

.find-shop {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px; }
  .find-shop h2 {
    margin-bottom: 8px;
    text-align: center; }
  .find-shop p {
    margin-bottom: 16px;
    text-align: center;
    font-size: 0.9rem; }
  .find-shop button {
    padding: 8px 26px;
    border-radius: 12px;
    background-color: #e22219;
    font-size: 1.1rem;
    font-weight: 700;
    color: #fff; }
  .find-shop .shop-advantages {
    display: flex;
    flex-wrap: wrap; }
    .find-shop .shop-advantages .advantages-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: calc(100% / 3);
      margin-top: 30px; }
      @media screen and (min-width: 1024px) {
        .find-shop .shop-advantages .advantages-list {
          width: fit-content;
          padding-right: 30px;
          padding-left: 30px;
          border-right: 1px solid #ebebeb; }
          .find-shop .shop-advantages .advantages-list:last-child {
            border: none; } }
      .find-shop .shop-advantages .advantages-list img {
        width: 50px;
        margin-bottom: 8px; }
        @media screen and (min-width: 1024px) {
          .find-shop .shop-advantages .advantages-list img {
            width: auto; } }
      .find-shop .shop-advantages .advantages-list span {
        text-align: center;
        font-size: 1.2rem; }
      .find-shop .shop-advantages .advantages-list em {
        color: #e22219;
        font-style: normal;
        font-weight: 700;
        font-size: 0.9rem; }
        @media screen and (min-width: 1024px) {
          .find-shop .shop-advantages .advantages-list em {
            font-size: 1.2rem; } }

.cs {
  padding: 20px;
  background: url("../../assets/img/main/bg_home_bottom.png"); }
  @media screen and (min-width: 1024px) {
    .cs {
      position: relative; } }
  .cs .inner-cs {
    max-width: 1440px; }
    .cs .inner-cs h2 {
      margin-bottom: 16px;
      color: #fff;
      font-size: 1rem; }
      @media screen and (min-width: 1024px) {
        .cs .inner-cs h2 {
          font-size: 2rem; } }
    .cs .inner-cs p {
      margin-bottom: 30px;
      color: #fff;
      font-size: 0.8rem; }
      @media screen and (min-width: 1024px) {
        .cs .inner-cs p {
          margin-bottom: 0;
          font-size: 1.1rem; } }
    @media screen and (min-width: 1024px) {
      .cs .inner-cs .cs-call {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%); } }
    .cs .inner-cs .cs-call img {
      width: 24px; }
    .cs .inner-cs .cs-call strong {
      color: #fff;
      font-size: 2rem; }

/*# sourceMappingURL=style.css.map */